@page
@model veic_web.Pages.Articles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Pubdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Article)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pubdate)
                </td>
                <td>
                    @*
                        https://icons.getbootstrap.com/
                    *@
                    <a asp-page="./Edit" asp-route-id="@item.Id">
                        <i class="bi-pencil-square"></i>
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        <i class="bi-tv"></i>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id">
                        <i class="bi-x"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
